<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="com.qa.employee.Utilities.Listeners" />
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qa.Employee.testCases.TC001_Get_All_Employees"/>
      <class name="com.qa.Employee.testCases.TC002_Get_Single_Employee_Record"/>
      <class name="com.qa.Employee.testCases.TC003_Post_Employee_Records"/>
      <class name="com.qa.Employee.testCases.TC004_Put_Employee_Records"/>
      <class name="com.qa.Employee.testCases.TC005_Delete_Employee_Records"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
